* {
	box-sizing: border-box;
}

html,
body {
	padding: 0;
	margin: 0;
}

body {
	font-size: 16px;
}

.game {
	display: flex;
	justify-content: space-around;
}

.menu {
	height: 50em;
	width: 50em;

	z-index: 1;
	position: relative;
}

.menu-buttons {
  display: none;
  
  text-align: center;
  list-style: none;
  padding: 0;
  margin-top: 15em;
}

.menu-buttons li + li {
  margin-top: 1.88em;
}

.show-skins {
	display: none;
  position: absolute;
  top: 0;
  left: 0;

	width: 50em;
	height: 50em;
	background-color: #dcdcdc;
}

.gameplay,
.background {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
} 

.restart-game {
  display: none;
  
  position: absolute;

  justify-content: space-around;
  align-items: flex-end;

	min-width: 400px;

	z-index: 1;
}

.default-button-1 {
  display: inline-block;

  line-height: 1.6em;

  background-color: #dcdcdc;
  border: none;
  border-radius: 10px;
  
  transition: all 0.2s;

  font-family: "Modak", cursive;
  text-transform: uppercase;
  font-size: 1.875em;
  color: #616161;
  
  box-shadow: 0px 3px 2px 0px #555;

  outline: none;
}

.default-button-1:hover {
	background-color: #d2d2d2;
	color: #555;
}

.default-button-1:active {
	box-shadow: none;
	background-color: #c2c2c2;
	color: #454545;
}

.default-button-1:active span{
	display: inline-block;
	transform: scaleY(0.95);
}